* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #004aad; 
    background-image: url(https://wallpapers.com/images/hd/blueprint-background-1680-x-1050-7xo1pfiqdgii4xoi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply; 
}

header {
    background-color: #fc6b1b;
    padding: 20px 0;
    justify-content: center;
    display: flex;
}

header img {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.card-produto {
    display: flex;
    background-color: #fc6b1b;
    width: 1300px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    align-items: center;
}

.imagem-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.imagem-box img {
    max-width: 80%;
    height: auto;
    transition: transform 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imagem-box input[type="file"] {
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 80px;
}

.card-content {
    flex: 1;
    padding: 40px;
}

.card-content h3 {
    font-size: 1.8rem;
    color: #191970;
    margin-bottom: 15px;
}

.card-content input[type="text"], 
.card-content input[type="number"],
.card-content select {
    width: 80%;
    padding: 12px 15px;
    border-radius: 25px;
    border: 2px solid transparent;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10%;
    color: #003985;
    background-color: #ffffff;
    transition: all 0.3s ease;
    outline: none;
}

.card-content input:focus,
.card-content select:focus {
    border: 2px solid #004aad;
    box-shadow: 0 0 10px rgba(0, 74, 173, 0.5);
    transform: scale(1.01);
}

.card-content ::placeholder {
    color: #003985;
}

.card-content .adicionar {
    width: 40%;
    padding: 12px;
    border-radius: 25px;
    background-color: #004aad;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    align-self: center;
    margin-top: 10px;
}

.form-adicionar .adicionar:hover {
    background-color: #003985;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-adicionar .botao:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.botao {
    background: #004aad;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    width: 20%;
    margin-left: 230px;
    margin-top: 20px;
    margin-bottom: -25px;
}

.botao:hover {
    background: #191970;
    transform: scale(1.05);
    transform: brightness(1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}